<!DOCTYPE html>
<html>
<head>
<title></title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../../css/main.css">
<script src="../../libs/jquery.min.js"></script>
<script src="../../plugins/layer/layer.js"></script>
<script src="../../libs/bootstrap.min.js"></script>
<script src="../../libs/vue.min.js"></script>
<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../../js/common.js"></script>
</head>
<body>
<div id="app" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<a v-if="hasPermission('daily:tbdaily:save')" class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			<a v-if="hasPermission('daily:tbdaily:update')" class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			<a v-if="hasPermission('daily:tbdaily:delete')" class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
											<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="tbDaily.userId" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">追求简单，冗余设计</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="tbDaily.dept" placeholder="追求简单，冗余设计"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">工作成果</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="tbDaily.workResult" placeholder="工作成果"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">提交内容</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="tbDaily.submitContent" placeholder="提交内容"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">内容说明</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="tbDaily.contentDescription" placeholder="内容说明"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">计划开始时间</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="tbDaily.planStartDate" placeholder="计划开始时间"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">计划结束时间</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="tbDaily.planEndDate" placeholder="计划结束时间"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">工作进度</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="tbDaily.workSchedule" placeholder="工作进度"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">演示地址</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="tbDaily.demoAddress" placeholder="演示地址"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">标准和要求(1:合格0:不合格)</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="tbDaily.claim" placeholder="标准和要求(1:合格0:不合格)"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">未完成不就措施</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="tbDaily.planB" placeholder="未完成不就措施"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">提交人</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="tbDaily.submitter" placeholder="提交人"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="tbDaily.lookRole" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">备注</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="tbDaily.remarks" placeholder="备注"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="tbDaily.updateTime" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="tbDaily.createTime" placeholder=""/>
			    </div>
			</div>
							<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="../../js/modules/daily/tbdaily.js"></script>
</body>
</html>